.button
{
	font-family: $title-font;
	font-weight: 600;
	font-size: 1.3em;

	padding-left: 18px;
	padding-right: 18px;
	padding-top: 9px;
	padding-bottom: 9px;

	margin: 15px;
}

.text-button
{
	color: $main-color;
}

.contained-button
{
	color: $main-light;

	background-color: $main-color;

	border-radius: 18px;
}