.footer
{
	display: block;

	background-color: $main-color;

	padding-top: 1em;
	padding-bottom: 1em;

	& > ul
	{
		@extend .wrapper-row-center;

		width: 100%;

		color: $main-light;
		font-family: $title-font;
		font-size: 0.9em;
		font-weight: 400;

		text-align: center;

		& > li
		{
			margin-right: 1em;

			&:not(:last-child):after 
			{
				content: "|";
				margin-left: 1em;
			}
		}
	}
}