.nav
{
	width: 100%;
	display: block;

	&__wrapper
	{
		width: 100%;

		background-color: $main-light;

		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 8%;
		padding-right: 8%;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&__brand
	{
		color: $main-dark;
		font-family: $title-font;
		font-weight: 700;
		font-size: 1em;

		text-align: left;
	}

	&__menu-user-wrapper
	{
		text-align: right;
	}

	&__menu
	{
		color: $main-dark;
		font-family: $title-font;
		font-weight: 400;
		font-size: 1em;

		& > a:not(:last-child)
		{
			margin-right: 45px;
		}

		& > a:last-child
		{
			margin-right: 80px;
		}
	}

	&__user
	{
		color: $main-dark;
		font-family: $title-font;
		font-weight: 400;
		font-size: 1em;
		position: relative;
		margin-left: 30px;

		& > a
		{
			&::before
			{
				content: "";
				background-image: url("..//images//icons//user.svg");
				background-size: 100%;
				height: 25px;
				width: 25px;
				display: inline-block;
				position: absolute;
				left: -35px;
				top: -4px;
			}
		}
	}
}