.nav
{
	background-color: $main-dark;
	color: $main-light;
	font-family: $title-font;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;

	&__brand
	{
		padding-top: 1em;
		padding-bottom: 1em;
		padding-left: 1em;
		text-align: left;
		height: 100%;
		display: flex;
		flex-direction: column;

		&__logo
		{
			font-size: 3em;
			font-weight: 700;
			letter-spacing: -3px;
			transition: color 0.3s;
	
			&:hover
			{
				color: $main-color;
			}
		}

		&__complement
		{
			font-size: 1.2em;
			font-weight: 500;
			letter-spacing: -2px;
			color: $secondary-light;
			font-style: italic;
		}
	}

	&__menu
	{
		display: flex;
		flex-direction: row;
		margin-left: 5em;
		height: 100%;

		&__item
		{
			display: inline-block;
			transition: background-color 0.3s;
			font-size: 0.9em;
			padding-top: 2.5em;
			padding-bottom: 2.5em;
			padding-left: 1em;
			padding-right: 1em;
			text-transform: uppercase;
			text-align: center;
			height: 100%;
			width: 12em;

			&:hover
			{
				background-color: $main-color;
				cursor: pointer;
			}

			&::before
			{
				font-family: "Font Awesome 5 Free";
				font-weight: 700;
				font-size: 2em;
				display: block;
				padding-bottom: 0.3em;
			}
		}

		&__item--home
		{
			@extend .nav__menu__item;

			&::before
			{
				content: "\f015";
			}
		}

		&__item--meal
		{
			@extend .nav__menu__item;

			&::before
			{
				content: "\f2e7";
			}
		}

		&__item--generate
		{
			@extend .nav__menu__item;

			&::before
			{
				content: "\f013";
			}
		}

		&__item--shoppinglist
		{
			@extend .nav__menu__item;

			&::before
			{
				content: "\f07a";
			}
		}
	}


	&__logo
	{
		display: inline-block;
		font-size: 2.5em;
		font-weight: 700;
		letter-spacing: -3px;
		margin-left: 30px;
		transition: color 0.3s;

		&:hover
		{
			color: $main-color;
		}
	}

	&__burger
	{
		display: inline-block;
		font-size: 1.4em;
		margin-right: 30px;
		padding-top: 15px;
		transition: color 0.3s;

		&:hover
		{
			cursor: pointer;
			color: $main-color;
		}
	}

	&__overlay
	{ 
    	height: 100%;
    	width: 0;
    	position: fixed;
    	visibility: hidden;
    	z-index: 2;
    	right: 0;
    	top: 0;
    	background-color: rgba($color: $main-dark, $alpha: 1);
    	overflow-x: hidden;
    	transition: width 0.3s, height 0.3s;
		
		&--open
		{
			width: 20%;
			visibility: visible;
		}

    	&__content
    	{
    		width: 100%;
    		color: $main-light;
    		display: flex;
    		flex-direction: column;
    		font-family: $title-font;
    		font-size: 1.5em;

			& > ul
			{
				margin-top: 5em;
				padding-left: 1em;
				width: 100%;

				& > li
				{
					display: inline-block;
					width: 100%;
					font-weight: 700;

					& > ul
					{
						width: 100%;
						padding-left: 1.2em;

						& > li 
						{
							color: $main-gray;
							font-size: 0.8em;	
						}
					}
				}
			}
		}
		
		&__menu-item
		{
			transition: color 0.3s;

			&:hover
			{
				color: $main-color;
				cursor: pointer;
			}
		}

		&__menu-item-drop
		{
			@extend .nav__overlay__menu-item;

			&::after
			{
				font-family: "Font Awesome 5 Free"; 
				font-weight: 700;
				margin-left: 0.3em;
				color: $main-light;
				transition: color 0.3s;
			}

			&:hover
			{
				&::after
				{
					color: $main-color;
					cursor: pointer;
				}
			}

			&--down
			{
				&::after
				{
					content: "\f107";
				}
			}

			&--up
			{
				&::after
				{
					content: "\f106";
				}
			}
		}

		&__menu-item-before
		{
			@extend .nav__overlay__menu-item;

			&::before
			{
				font-family: "Font Awesome 5 Free"; 
				font-weight: 700;
				color: $main-light;
				transition: color 0.3s;
				display: inline-block;
				width: 1.8em;
			}

			&:hover
			{
				&::before
				{
					color: $main-color;
					cursor: pointer;
				}
			}
		}

		&__menu-item-home
		{
			@extend .nav__overlay__menu-item-before;

			&::before
			{
				content: "\f015";
			}
		}

		&__menu-item-admin
		{
			@extend .nav__overlay__menu-item-before;

			&::before
			{
				content: "\f508";
			}
		}

		&__menu-item-category
		{
			@extend .nav__overlay__menu-item-before;

			&::before
			{
				content: "\f121";
			}
		}

		&__menu-item-about
		{
			@extend .nav__overlay__menu-item-before;

			&::before
			{
				content: "\f05a";
			}
		}

		&__menu-item-contact
		{
			@extend .nav__overlay__menu-item-before;

			&::before
			{
				content: "\f1fa";
			}
		}

		&__menu-subitem-content
		{
			height: 100%;
			visibility: visible;
		}

    	&__close
    	{
    		position: fixed;
    		right: 28px;
    		top: 19px;
			font-size: 2em;
			color: $main-light;
    		transition: color 0.3s;

    		&:hover
    		{
    			color: $main-color;
    			cursor: pointer;
    		}
    	}
	}
}