.wrapper-row-center
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper-row-spacebetween
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}