/* Colors */
$main-color: #00cec9;
$secondary-color: #81ecec;
$main-dark: #000000;
$secondary-dark: #2A2A2A;
$third-dark: #4A4A4A;
$main-gray: #909090;
$secondary-gray: #505050;
$main-light: #FFFFFF;
$secondary-light: #F0F0F0;
$danger-color: #DC3545;
$danger-hover-color: #E27C79;
$success-color: #5CB85C;
$primary-color: $main-color;

$facebook-color: #3B5998;
$twitter-color: #00ACED;
$linkedin-color: #007BB6;
$googleplus-color: #DD4B39;
$youtube-color: #E62117;
$instagram-color: #DD2A7B;

$monday-color: #632E7D;
$tuesday-color: #38407F;
$wednesday-color: #3E7D66;
$thursday-color: #C77F46;
$friday-color: #CD9F3E;
$saturday-color: #AE4E3E;
$sunday-color: #AE2773;


/* Fonts */
$title-font: 'Open Sans';
$text-font: 'Roboto';

/* Sizes */
$footer-height: 50px;

/* Others */
$shadow: 5px 5px 10px rgba(0, 0, 0, .5);