/* Colors */
$main-color: #8BDC7E;
$main-dark: #000000;
$main-gray: #909090;
$main-light: #FFFFFF;
$danger-color: #DC3545;
$success-color: #5CB85C;

$facebook-color: #3B5998;
$twitter-color: #00ACED;
$linkedin-color: #007BB6;
$googleplus-color: #DD4B39;
$youtube-color: #E62117;
$instagram-color: #DD2A7B;

$monday-color: #632E7D;
$tuesday-color: #38407F;
$wednesday-color: #3E7D66;
$thursday-color: #C77F46;
$friday-color: #CD9F3E;
$saturday-color: #AE4E3E;
$sunday-color: #AE2773;


/* Fonts */
$title-font: 'Montserrat';
$text-font: 'Roboto';

/* Sizes */
$footer-height: 50px;

/* Others */
$shadow: 5px 5px 10px rgba(0, 0, 0, .5);