.home
{
    width: 100%;
	display: block;

    &__wrapper
    {
        width: 100%;

        background-color: $main-light;

        display: flex;
        flex-direction: column;
    }

    &__images
    {
        display: flex;
        flex-direction: row;
        justify-content: center;

        padding-top: 10em;

        width: 100%;

        & > img
        {
            width: 12em;
        }
    }

    &__title
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        width: 100%;

        &__main
        {
            color: $main-dark;
            font-family: $title-font;
            font-weight: 700;
            font-size: 3em;

            margin-bottom: 0.35em;
        }

        &__secondary
        {
            color: $main-dark;
            font-family: $title-font;
            font-weight: 400;
            font-size: 1.2em;
        }
    }
}